{% extends "reTranslation/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} {{ program.programName|capfirst }} Payload
    #{{ payload.payloadnumber }} {% endblock %}
{% block dynamicNav %}
    <a href="{% url 'retranslation:list_programs' %}">Home</a>
    <a href="{% url 'retranslation:program_detail' user=request.user.username programname=program.programName %}">
        Program Details
        <a class="active">{{ payload|capfirst }}</a>
    </a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'retranslation:logout' %}">Logout</a>
    {% endif %}
    <a class="text-white">Logged in as: {{ request.user.username|capfirst }}</a>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>{{ program.member.username|capfirst }}'s {{ program.programName|capfirst }} Payload
                #{{ payload.payloadnumber }}</h1>

        </div>
        <div class="row">
            <h3 class="text-secondary">{{ program.programName|capfirst }} Text</h3>

        </div>
        <div class="row">
            <p class="lead text-body border-top border-bottom border-primary">
                {{ payload.content }}
            </p>

        </div>
        {% if response %}
            {% if new_response %}
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="alert-success text-success text-center">Your Translation has been Finished!</h1>
                    </div>

                </div>
            {% endif %}
            <div class="row">
                <h3 class="text-secondary">Your Translation</h3>
            </div>
            <div class="row">
                <p class="lead text-body border-top border-bottom border-secondary">
                    {{ response.textresponse }}
                </p>
            </div>
        {% else %}
            <div class="row">
                <h3 class="text-primary font-weight-bold ">Create Translation</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="col-lg text-secondary">
                    <div id="div_id_textresponse" class="form-group">
                        <label for="id_textresponse" class=" requiredField">
                        </label>
                        <div class="">
                        <textarea name="textresponse" cols="150" rows="10" maxlength="100000"
                                  class="textarea form-control lead text-body"
                                  required id="id_textresponse" >{{ autofilled }}</textarea>

                        </div>
                    </div>
                </div>
                <div class="col-lg"><input class=" btn btn-primary btn-lg active" type="submit" value="Finish Translation">
            </div>
            </form>
                <div class="row">
                <h5 id="auto-info" class="text-success border-success">
                </h5>
            </div>
        </div>

        {% endif %}
    </div>
    <p>
    Hello World.
    </p>

{% endblock %}
{% block javas_script %}
    <script>

        var timer;
        var saved = false;

        function myTimer() {
            var sec = 15;
            clearInterval(timer);
            timer = setInterval(function () {
                if (saved === false) {
                    console.log("Timer tripped");
                    saved = true;
                    $.post('/retranslation/ajax-test/',
                        {
                            username: "{{ program.member.username }}",
                            programname: "{{ program.programName }}",
                            payloadnumber: "{{ payload.payloadnumber }}",
                            text_contents: $("#id_textresponse").val()

                        },
                        function (data) {
                            if (data['status'] === 'ok') {
                                console.log("Save Sucessfull.");
                                console.log($("#id_textresponse").val())
                                $("#auto-info").text("Your work has been auto saved!").removeClass("text-danger");
                                $('textarea').removeClass("border-danger").addClass("border-success");
                            }
                        }
                    );
                }

            }, 3000);
        }

        $(document).ready(function () {

            $("#my-ajax-button").click(function (event) {
                event.preventDefault();
            });

            $("#id_textresponse").on('input', function () {
                console.log("We changed");
                saved = false;
                myTimer();
                $("#auto-info").text("Your work is unsaved.").addClass('text-danger');
                $('textarea').addClass("border-danger")
                .removeClass("bg-success");
            });

        });
    </script>
{% endblock %}

